.inputForm {
    width: 100%;
    max-width: 46rem;
    height: 3.375rem;
    margin-top: -1.6875rem;
    display: flex;
    gap: 0.5rem;
}

.inputForm input {
    width: 86.68%;
    padding: 1rem 0.5rem;
    background: var(--gray-500);
    color: var(--gray-100);
    border: 1px solid transparent;
    border-radius: 4px;
    resize: none;
}
.inputForm input::placeholder {
    color: var(--gray-300);
    opacity: 1;
}

.inputForm input:focus {
    border: 1px solid var(--purple) !important;
    outline: none;
}

.inputForm button {
    width: 12.2%;
    padding: 1rem 0;
    background: var(--blue-dark);
    color: var(--gray-100);
    border: 0;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition-duration: 200ms;
}

.inputForm button:hover {
    background: var(--blue);
}

@media (max-width: 580px) { 
    .inputForm {
        flex-direction: column;
        width: 100%;
        height: 7rem;
    }

    .inputForm input {
        width: 100%;
    }

    .inputForm button {
        width: 100%;
        justify-content: center;
        gap: 8px;
    }
}